body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  min-height: 100vh;
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7f00,
    #ffff00,
    #00ff00,
    #0000ff,
    #4b0082,
    #8f00ff
  );
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.heading {
  font-size: 4rem;
  color: white;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: bold;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
